.date-field {
  display: table;
}

.date-field p {
  margin: 10px 0 5px 0;
}

.date-field p span {
  color: red;
}

@media screen and (max-width: 767px) {
  .date-field .react-datepicker-wrapper,
  .date-field .react-datepicker__input-container,
  .date-field input {
    width: 100%;
  }
}