.button {
  background: blue;
  border: 1px solid blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 10px;
}

.button:hover {
  box-shadow: 3px 5px 7px #bbb;
}

.button.negative {
  border-color: orange;
  background: white;
  color: orange;
}

.button + .button {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }

  .button + .button {
    margin-left: 0;
  }
}