.auto-complete {
  display: table;
}

.auto-complete p {
  margin: 10px 0 5px 0;
}

.auto-complete input {
  padding: 2px;
  width: 300px;
}

.auto-complete input + div {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  position: absolute !important;
  top: auto !important;
}

.auto-complete .auto-complete-item {
  background: white;
}

.auto-complete .auto-complete-item.highlight {
  background: lightgray;
}

@media screen and (max-width: 767px) {
  .auto-complete > div,
  .auto-complete input {
    width: 100%;
  }
}